<div class="modal fade" id="carrinhoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <h5 class="modal-title">
          <i class="fas fa-shopping-cart me-2"></i> Seu Carrinho
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="list-group mb-3">
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let item of cartService.currentItems()"
          >
            <div class="w-75">
              <h6 class="mb-1">{{ item.dishSize }}</h6>
              <small class="text-muted"
                >Sabores:
                <span *ngFor="let item of item.dishes" class="text-capitalize"
                  >{{ item }}
                </span></small
              >
            </div>
            <div>
              <span class="fw-bold">R$ {{ item.price }}</span>
              <button
                (click)="remove(item)"
                class="btn btn-sm btn-outline-danger ms-2"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between mb-3">
          <span>Total:</span>
          <span class="fw-bold h5">R$ {{ totalPrice() }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Continuar Comprando
        </button>
        <button
          type="button"
          class="btn btn-custom"
          (click)="setOrder()"
          data-bs-dismiss="modal"
        >
          Finalizar Pedido
        </button>
      </div>
    </div>
  </div>
</div>
