<footer class="bg-dark text-white py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Casa das Pizzas</h5>
        <a
          class="page-link text-danger"
          href="https://www.instagram.com/casadaspizzasoficial/"
          target="_blank"
        >
          <p><i class="fab fa-instagram"></i> Siga-nos no Instagram</p></a
        >
      </div>
      <div class="col-md-4 mb-3">
        <h5>Horário de Funcionamento</h5>
        <p>Segunda a Sábado: 18h - 23h</p>
        <p>Domingo: 17h - 22h</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contato</h5>
        <p><i class="fas fa-phone me-2"></i> (71) 9 8662-9980</p>
        <p>
          <i class="fas fa-map-marker-alt me-2"></i> Rua Teixeira Barros 24,
          Parque Bela Vista
        </p>
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="mb-0">
        &copy; 2025 Casa das Pizzas. Todos os direitos reservados.
      </p>
    </div>
  </div>
</footer>
