.logo__header {
  max-width: 50px;
}
.status-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.open {
  background-color: #28a745;
  box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
  animation: pulse-green 2s infinite;
}
.closed {
  background-color: #dc3545;
  box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
  animation: pulse-red 2s infinite;
}

.field {
  background: #423f3f;
  border-radius: 4px;
  padding: 0px 10px;
}
.field__open {
  background: #065206;
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(40, 167, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
  }
}
@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}

.animated-bg {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #dc3545, #974712, #343a40, #dc3545);
  background-size: 400% 400%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}
.btn-custom {
  background-color: #ffc107;
  color: #343a40;
  border: none;
}
.btn-custom:hover {
  background-color: #e0a800;
  color: #343a40;
}
