<section class="container-fluid d-md-flex gap-2">
  <div>
    <div class="row m-0 p-0">
      <div>
        <h2 class="text-center">Pratos no cardápio</h2>
      </div>
    </div>
    <div
      class="row row-gap-2 justify-content-start flex-fill px-0 px-sm-2 overflow-y-auto overflow-x-hidden wrapper__menu mb-2 mb-sm-0"
    >
      <div *ngFor="let i of pratos()" class="col-6 col-md-4 col-xl-3">
        <div class="card shadow-sm rounded-0 d-flex flex-column h-100">
          <div class="card-header">{{ i.nome }}</div>
          <div class="card-body flex-grow-1 px-2">{{ i.ingredientes }}</div>
          <div *ngIf="i.disponivel">
            <span class="rounded-pill bg-success available__message px-1"
              >Disponível</span
            >
          </div>
          <div *ngIf="!i.disponivel">
            <span class="rounded-pill bg-danger available__message px-1"
              >Indisponível</span
            >
          </div>

          <div>R${{ i.preco }}</div>
          <div class="w-100 d-flex justify-content-between">
            <i
              class="fas fa-edit d-inline-block edit__icon text-success"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#editModal-' + i.id"
            ></i>

            <div
              class="modal fade"
              [id]="'editModal-' + i.id"
              tabindex="-1"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title fs-5" id="exampleModalLabel2">
                      Alterar informações do prato
                    </h2>
                  </div>
                  <div class="modal-body">
                    <form
                      (submit)="teste(adicionarPrato)"
                      [formGroup]="adicionarPrato"
                      class="d-flex flex-column container-fluid gap-3"
                    >
                      <div class="form-floating">
                        <input
                          id="dish__name"
                          required
                          class="form-control"
                          type="text"
                          placeholder="Nome do Prato"
                          formControlName="nome"
                        />
                        <label for="dish__name">Nome do Prato</label>
                      </div>
                      <div class="input-group">
                        <span class="input-group-text">R$</span>

                        <div class="form-floating">
                          <input
                            required
                            class="form-control"
                            type="number"
                            formControlName="preco"
                            id="dish__price"
                            placeholder="Preço do Prato"
                            min="0.01"
                            step="0.01"
                          />
                          <label for="dish__price">Preço do Prato</label>
                        </div>
                      </div>
                      <div
                        class="overflow-y-auto overflow-x-hidden wrapper__ingredients"
                        [class.container-fluid]="ingredientesArray.length > 1"
                      >
                        <div formArrayName="ingredientes">
                          <div
                            *ngFor="
                              let ctrl of ingredientesArray.controls;
                              let i = index
                            "
                            class="d-flex align-items-center mb-2 form-floating"
                          >
                            <input
                              [formControlName]="i"
                              [id]="i"
                              class="form-control"
                              [class.me-2]="ingredientesArray.length > 1"
                              placeholder="Ingrediente {{ i + 1 }}"
                            />
                            <label [htmlFor]="i">Ingrediente {{ i + 1 }}</label>
                            <button
                              type="button"
                              class="btn btn-outline-danger btn-sm"
                              (click)="removeIngredient(i)"
                              *ngIf="ingredientesArray.length > 1"
                            >
                              &times;
                            </button>
                          </div>

                          <button
                            type="button"
                            class="btn btn-outline-primary btn-sm"
                            (click)="addIngredient()"
                          >
                            + Adicionar ingrediente
                          </button>
                        </div>
                      </div>
                      <label
                        class="d-flex align-items-center justify-content-end gap-2"
                      >
                        Já está disponível?
                        <input
                          class="form-check-input d-inline-block align-self-center"
                          type="checkbox"
                          formControlName="disponivel"
                        />
                      </label>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      class="btn btn-outline-primary"
                      data-bs-dismiss="modal"
                    >
                      Alterar preço
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <i
              class="far fa-trash-alt text-danger delete__icon mb-1 d-inline-block"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#deleteModal-' + i.id"
            ></i>
          </div>

          <div
            class="modal fade"
            [id]="'deleteModal-' + i.id"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title fs-5" id="exampleModalLabel">
                    Remover Prato?
                  </h2>
                </div>
                <div class="modal-body">
                  Você realmente deseja remover esse prato? Essa ação não pode
                  ser desfeita!
                </div>
                <div class="modal-footer">
                  <button
                    class="btn btn-outline-danger"
                    (click)="teste2(i.id!)"
                    data-bs-dismiss="modal"
                  >
                    Apagar prato
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mx-auto col-10 col-sm-7 col-md-5 col-xxl-6 bg-light">
    <div class="card-title">
      <h2 class="text-center">Adicionar novo prato</h2>
    </div>
    <div class="card-body">
      <form
        (submit)="teste(adicionarPrato)"
        [formGroup]="adicionarPrato"
        class="d-flex flex-column container-fluid gap-3"
      >
        <div class="form-floating">
          <input
            id="dish__name"
            required
            class="form-control"
            type="text"
            placeholder="Nome do Prato"
            formControlName="nome"
          />
          <label for="dish__name">Nome do Prato</label>
        </div>
        <div class="input-group">
          <span class="input-group-text">R$</span>

          <div class="form-floating">
            <input
              required
              class="form-control"
              type="number"
              formControlName="preco"
              id="dish__price"
              placeholder="Preço do Prato"
              min="0.01"
              step="0.01"
            />
            <label for="dish__price">Preço do Prato</label>
          </div>
        </div>
        <div
          class="overflow-y-auto overflow-x-hidden wrapper__ingredients"
          [class.container-fluid]="ingredientesArray.length > 1"
        >
          <div formArrayName="ingredientes">
            <div
              *ngFor="let ctrl of ingredientesArray.controls; let i = index"
              class="d-flex align-items-center mb-2 form-floating"
            >
              <input
                [formControlName]="i"
                [id]="i"
                class="form-control"
                [class.me-2]="ingredientesArray.length > 1"
                placeholder="Ingrediente {{ i + 1 }}"
              />
              <label [htmlFor]="i">Ingrediente {{ i + 1 }}</label>
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="removeIngredient(i)"
                *ngIf="ingredientesArray.length > 1"
              >
                &times;
              </button>
            </div>

            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              (click)="addIngredient()"
            >
              + Adicionar ingrediente
            </button>
          </div>
        </div>
        <label class="d-flex align-items-center justify-content-end gap-2">
          Já está disponível?
          <input
            class="form-check-input d-inline-block align-self-center"
            type="checkbox"
            formControlName="disponivel"
          />
        </label>
        <button
          class="btn btn-outline-success btn-sm"
          [disabled]="!adicionarPrato.valid"
        >
          adicionar prato
        </button>
      </form>
    </div>
  </div>
</section>
