<div class="card shadow-sm">
  <div class="card-header bg-dark text-white">
    <h5 class="mb-0"><i class="fas fa-user-shield me-2"></i>Opções</h5>
  </div>
  <div class="card-body p-0">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item" [class.active]="router.isActive('/cardapio', true)">
        <a class="nav-link" [routerLink]="['/cardapio']"
          ><i class="fas fa-utensils me-2"></i> Cardápio</a
        >
      </li>
      <li
        class="nav-item"
        [routerLink]="['/usuarios']"
        [class.active]="router.isActive('/usuarios', true)"
      >
        <a class="nav-link"><i class="fas fa-users me-2"></i> Usuários</a>
      </li>
      <li
        class="nav-item"
        [routerLink]="['/pedidos']"
        [class.active]="router.isActive('/pedidos', true)"
      >
        <a class="nav-link"><i class="fas fa-chart-line me-2"></i> Pedidos</a>
      </li>
      <li
        class="nav-item"
        [routerLink]="['/config']"
        [class.active]="router.isActive('/config', true)"
      >
        <a class="nav-link"><i class="fas fa-cog me-2"></i> Configurações</a>
      </li>
    </ul>
  </div>
</div>
