<i
  class="fa-solid fa-bars botao__sidebar text-info-emphasis"
  (click)="controleSideBar()"
></i>

<nav class="sidebar" [class.sidebar-fechada]="sideBarFechada()">
  <div
    class="p-1 d-flex justify-content-between align-items-center"
    *ngIf="!sideBarFechada()"
  >
    <span class="h5">Painel de Administrador</span>
    <i
      class="fa-solid far fas fas fa-window-close sidebar__fechar text-info-emphasis"
      (click)="controleSideBar()"
    ></i>
  </div>

  <div *ngIf="!sideBarFechada()" class="sidebar__div__links">
    <button
      [ngClass]="{ botao__selecionado: router.url === '/home' }"
      class="sidebar__div__links__home text-info-emphasis"
    >
      Configurações gerais
    </button>
    <button
      [ngClass]="{ botao__selecionado: router.url === '/dashboard' }"
      class="sidebar__div__links__dashboard text-info-emphasis"
    >
      Itens do menu
    </button>
  </div>
</nav>
