<nav
  class="d-flex justify-content-end align-items-center bg-dark gap-2 p-0 m-0 p-1"
>
  <div class=""></div>
  <div class="me-auto text-white d-none d-sm-inline-block">Casa das Pizzas</div>
  <button class="btn btn-sm text-white" routerLink="/admin">
    Configurações gerais
  </button>
  <button class="btn btn-sm text-white" routerLink="/cardapio">
    Configurações do cardápio
  </button>
  <button class="btn btn-outline-danger p-0 px-0 px-sm-1" routerLink="">
    Desconectar
  </button>
</nav>
