/* You can add global styles to this file, and also import other style files */
:root {
  --primary-red: #dc3545;
  --dark-red: #c82333;
  --secondary-orange: #fd7e14;
  --dark-gray: #343a40;
  --gold-accent: #ffc107;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
